<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Sitecore.Basis.Multisite.Pipelines.GetDatasourceLocationAndTemplateFromSite, Sitecore.Basis.Multisite" patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
      </getRenderingDatasource>
      <getLookupSourceItems>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']" type="Sitecore.Basis.Multisite.Pipelines.LookupÍtemsFromField, Sitecore.Basis.Multisite" />
      </getLookupSourceItems>
      <httpRequestBegin>
        <!--Fix of switching to default site instead of one matched by domain-->
        <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor">
          <patch:attribute name="type" value="Sitecore.Basis.Multisite.Pipelines.ResolveContentLanguage, Sitecore.Basis.Multisite"/>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <commands>
      <command name="multisite:createdatasourcesetting" type="Sitecore.Basis.Multisite.Commands.CreateRenderingSettings, Sitecore.Basis.Multisite"/>

      <!--Fix of switching to default site instead of one matched by domain-->
      <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor">
        <patch:attribute name="type" value="Sitecore.Basis.Multisite.Commands.OpenExperienceEditor, Sitecore.Basis.Multisite"/>
      </command>
    </commands>
    <settings>
      <setting name="Basis.Multisite.DatasourceDialogRoot" value="/sitecore/layout/renderings"/>
      <setting name="Preview.ResolveSite">
        <patch:attribute name="value" value="true" />
      </setting>
    </settings>
  </sitecore>
</configuration>